.link {
  padding: 4px 16px 0px 16px;
  
  height: 56px;
  box-sizing: border-box;

  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  color: #1d1f22;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  background: #ffffff;

  cursor: pointer;
}

.activeLink {
  color: #5ece7b;
  font-weight: 600;

  border-bottom: 2px solid #5ece7b;
}

.linkName {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  height: 52px;
}
