.container {
  position: relative;

  width: 20px;
  height: 20px;
}

.cart {
  margin: 0;
  padding: 0;

  position: relative;

  background: #ffffff;
  border: none;
  cursor: pointer;
}

.cartQuantity {
  margin: 0;
  padding: 0;

  position: absolute;
  top: -10px;
  left: 15px;
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background: #1d1f22;

  box-sizing: content-box;
  border-radius: 60px;
  cursor: pointer;
}

.backdropTransparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 78px;
  z-index: 997;

  background: transparent;
}

.backdropDarkened {
  position: fixed;
  top: 78px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;

  background: rgba(57, 55, 72, 0.22);
}